<?xml version="1.0"?>
<config>
    <modules>
        <Tribooacademy_Helloworld>
            <version>0.1.0</version>
        </Tribooacademy_Helloworld>
    </modules>
    <global>
        <models>
            <academy>
                <class>Tribooacademy_Helloworld_Model</class>
                <resourceModel>academy_resource</resourceModel>
            </academy>
            <academy_resource>
                <class>Tribooacademy_Helloworld_Model_Resource</class>
            </academy_resource>
        </models>
        <blocks>
            <academy>
                <class>Tribooacademy_Helloworld_Block</class>
            </academy>
        </blocks>
        <helpers>
            <academy>
                <class>Tribooacademy_Helloworld_Helper</class>
            </academy>
        </helpers>
    </global>
    <frontend>
        <routers>
            <academy>
                <use>standard</use>
                <args>
                    <frontName>tribooacademy</frontName>
                    <module>Tribooacademy_Helloworld</module>
                </args>
            </academy>
        </routers>
        <layout>
            <updates>
                <academy>
                    <file>academy.xml</file>
                </academy>
            </updates>
        </layout>
    </frontend>
</config>