<?xml version="1.0"?>
<config>
    <modules>
        <Tribooacademy_Newsletteroverlay>
            <version>0.1.0</version>
        </Tribooacademy_Newsletteroverlay>
    </modules>
    <global>
        <models>
            <newsletteroverlay>
                <class>Tribooacademy_Newsletteroverlay_Model</class>
                <resourceModel>newsletteroverlay_resource</resourceModel>
            </newsletteroverlay>
            <newsletteroverlay_resource>
                <class>Tribooacademy_Newsletteroverlay_Model_Resource</class>
            </newsletteroverlay_resource>
        </models>
        <blocks>
            <newsletteroverlay>
                <class>Tribooacademy_Newsletteroverlay_Block</class>
            </newsletteroverlay>
        </blocks>
        <helpers>
            <newsletteroverlay>
                <class>Tribooacademy_Newsletteroverlay_Helper</class>
            </newsletteroverlay>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <newsletteroverlay>
                    <file>newsletteroverlay.xml</file>
                </newsletteroverlay>
            </updates>
        </layout>
    </frontend>
</config>