<?xml version="1.0"?>
<config>
    <modules>
        <Triboo_Sales>
            <version>0.1.0</version>
        </Triboo_Sales>
    </modules>
    <global>
        <models>
            <triboo_sales>
                <class>Triboo_Sales_Model</class>
                <resourceModel>triboo_sales_resource</resourceModel>
            </triboo_sales>
            <triboo_sales_resource>
                <class>Triboo_Sales_Model_Resource</class>
                <entities>
                    <from_order_status>
                        <table>triboo_sales_from_order_status</table>
                    </from_order_status>
                    <to_accademy_order_data>
                        <table>triboo_sales_to_accademy_order_data</table>
                    </to_accademy_order_data>
                </entities>
            </triboo_sales_resource>
        </models>
        <blocks>
            <triboo_sales>
                <class>Triboo_Sales_Block</class>
            </triboo_sales>
        </blocks>
        <helpers>
            <triboo_sales>
                <class>Triboo_Sales_Helper</class>
            </triboo_sales>
        </helpers>
        <resources>
            <triboo_sales_setup>
                <setup>
                    <module>Triboo_Sales</module>
                </setup>
            </triboo_sales_setup>
        </resources>
    </global>
    <default>
        <tbflow>
            <channels>
                <triboo_sales>
                    <from>
                        <type>ftp</type>
                        <connection>ax</connection>
                        <format>commaseparated</format>
                        <localbasedir>ax</localbasedir>
                        <dir>triboosos</dir>
                        <incoming>
                            <order_status>
                                <pattern>#^[0-9]{3}_TRIBOO_SOS_[0-9]{14,}.csv$#is</pattern>
                                <type>triboo_sales/from_order_status</type>
                            </order_status>
                        </incoming>
                    </from>
                    <to>
                        <type>ftp</type>
                        <connection>ax</connection>
                        <format>commaseparated</format>
                        <localbasedir>ax</localbasedir>
                        <dir>triboosos</dir>
                    </to>
                </triboo_sales>
            </channels>
            <order_queues>
                <accademing>
                    <transitions>
                        <in>
                            <from>processing/ax_processing</from>
                            <to>processing/accademy_sending</to>
                        </in>
                        <out>
                            <from>processing/accademy_sending</from>
                            <to>processing/accademy_sent</to>
                        </out>
                    </transitions>
                </accademing>
            </order_queues>
        </tbflow>
    </default>
</config>